<html>

  <head>
  </head>

  <body>

<%= render "shared/nav" %>

    <div class="jumbotron">
      <h2>Shadowrun</h2>
      <blockquote class="blockquote">
        <p class="mb-0"><em>n.</em> Any movement, action, or series of such made in carrying out plans which are illegal or quasilegal.<br /></p>
        <footer class="blockquote-footer">WorldWide WordWatch, 2050 update</footer>
      </blockquote>
    </div>

</p>Here's where we put all the test stuff</p>

<a href="#" data-background-color="#990000">Paint it red</a></br>
<a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a></br>
<a href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a></br>

  </body>
</html>
