<strong>Sources</strong><br>

<ul>
  <% @occurrence.occurrence_sources.each do |occurrence_source| %>
    <li>
      <%= link_to occurrence_source.source.name,"/sources/#{occurrence_source.source.id}" %>
      p.
      <%= occurrence_source.pages %>
      <% if user_signed_in? %>
        <%= link_to "Delete",
          "#{occurrence_path(occurrence_source.occurrence_id)}/occurrence_sources/#{occurrence_source.id}",
          :class => "btn btn-danger btn-xs",
          :role=> "button",
          method: :delete,
          data: { confirm: 'Are you sure?' }
        %>
      <% end %>
    </li>
  <% end %>
</ul>
