<strong>Locations mentioned in this item:</strong><br>
<ul>
  <% @occurrence.occurrence_locations.each do |occurrence_location| %>
    <li>
      <%= link_to occurrence_location.source.name,"/groups/#{occurrence_location.source.id}" %>
      p.
      <%= occurrence_location.pages %>
      <% if user_signed_in? %>
        <%= link_to "Delete",
          "#{occurrence_path(occurrence_location.occurrence_id)}/occurrence_location/#{occurrence_location.id}",
          :class => "btn btn-danger btn-xs",
          :role=> "button",
          method: :delete,
          data: { confirm: 'Are you sure?' }
        %>
      <% end %>
    </li>
  <% end %>
</ul>
