<% content_for :title, "The Shadowrun Database" %>
<%= render "shared/nav" %>

<div class="jumbotron">
  <h2>Shadowrun</h2>
  <blockquote class="blockquote">
    <p class="mb-0"><em>n.</em> Any movement, action, or series of such made in carrying out plans which are illegal or quasilegal.<br /></p>
    <footer class="blockquote-footer">WorldWide WordWatch, 2050 update</footer>
  </blockquote>
</div>
